/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

p, h1, h2, h3, h4, h5, ul, li {
    margin: 0;
    padding: 0;
    font-family:  Arial, Helvetica, sans-serif;
}

hr {
    margin: 0;
    border-color: #eeeeee;
}

/* ==========================================================================
   WRAPPER
   ========================================================================== */

#wrapper {
    width: 90%;
    margin: 0 auto;
    /*padding: 10px;*/
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

/* ==========================================================================
   WRAPPER
   ========================================================================== */

header a:link, header a:visited {
    color: #5daad0;
    text-decoration: none;
}

/*-----------  top-area  --------------*/
#top-area {

    background: #f6f6f6;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
}

/*-----------  action-bar  --------------*/

#action-bar {
    height: 55px;
    padding: 0 35px;
    vertical-align: middle;
    padding: 35px 0 0 30px;
}

#action-bar a:link, #action-bar a:visited {
    color: #000;
}

/*-----------  top-area  --------------*/
#action-bar #logo-acent {
    color: #5daad0;
}

#action-bar #logo {
    float: left;
    margin-right: 100px;
    font-size: 20px;
}

/*-----------  action-bar  --------------*/

#action-bar .dropdown {
    float: left;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 25px;
    border-right: 1px dotted #aaa;
    position: relative;
    top: 4px;
}

#action-bar .dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#action-bar .dropdown ul li {
    display: block;
    position: relative;
    float: left;
}

#action-bar .dropdown ul li ul {
    display: none;
}

#action-bar .dropdown ul li a {
    display: block;
    text-decoration: none;
    color: #5daad0;
    background-color: #fff;
    margin-left: 1px;
    white-space: nowrap;
    padding-left: 10px;
}

#action-bar .dropdown ul ul li a:link, #action-bar .dropdown ul ul li a:visited {
    color: #000;
}

#action-bar .dropdown ul ul li a:hover {
    color: #aaa;
}

#action-bar .dropdown li:hover ul {
    display: block;
    position: absolute;
    top: 100%;
    border: 1px solid #c3c3c3;
    padding: 5px;
    width: 160px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
}

#action-bar .dropdown li:hover li {
    float: none;
    background-color: #fff;
}

/*-----------  search-form  --------------*/

#action-bar #search-form {
    display: block;
    float: left;
    margin-right: 25px;
    padding-right: 25px;
    border-right: 1px dotted #c3c3c3;
}

#action-bar #search-form .search {
    border: 1px solid #eee;
    padding: 10px 10px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#action-bar #search-form .submit {
    border: none;
    padding: 10px 20px;
    background-color: #f6f6f6;
}

/*-----------  sign in  --------------*/

#action-bar #signin ul li:hover ul {
    width: 115px;
}

/*-----------  view-cart  --------------*/

#action-bar #view-cart {
    float: left;
}

#action-bar #view-cart a:link, #action-bar #view-cart a:visited {
    color: #5daad0;
    height: 40px;
    line-height: 40px;
}


/* ==========================================================================
   PROMO
   ========================================================================== */

#promo {
    height: 400px;
    padding: 0 30px;
    background-color: #172832;
}

#promo-details {
    float: left;
}

#promo img {
    float: right;
}

#promo h1 {
    color: #ffffff;
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#promo p {
    color: #5daad0;
    font-size: 20px;
    margin-bottom: 20px;
}


/* ==========================================================================
   promo-alt
   ========================================================================== */


#promo-alt {
    height: 400px;
}

/*---------- promo 1 -----------*/

#promo-alt .promo1 {
    height: 100%;
    padding: 20px 30px;
    background-color: #f7f7f7;
    width: 60%;
    float: left;
    position: relative;
}

#promo-alt .promo1 h1 {
    color: #2e373f;
    padding: 40px 0px;
    font-size: 28px;
}

#promo-alt .promo1 p {
    color: #9dbb6f;
    padding-bottom: 30px;
}

#promo-alt .promo1 p span {
    color: #9dbb6f;
   font-weight: bold;
}

#promo-alt .promo1 a {
    display: block;
    padding-top: 20px;
}

#promo-alt .promo1 a:visited, #promo-alt .promo1 a:link {
    text-decoration: none;
    color: #5daad0;
}

#promo-alt .promo1 img {
    position: absolute;
    bottom: -10px;
    right: 10px;
}

/*---------- promo 2 -----------*/

#promo-alt .promo2 {
    width: 33%;
    float: left;
    background-color: #f9f9f9;
    height: 53%;
    position: relative;
    border-left: 1px dashed #5f5e5e;
    border-bottom: 1px dashed #5f5e5e;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

#promo-alt .promo2 h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 25px;
}

#promo-alt .promo2 img {
    height: 150px;
    position: absolute;
    top: 20px;
    right: 50px;
}

#promo-alt .promo2 a {
    color: #5daad0;
}

#promo-alt .promo2 a:link, #promo-alt .promo2 a:visited {
    text-decoration: none;
}

#promo-alt .promo2 a img {
    height: auto;
    position: static;
}

/*---------- promo 3 -----------*/

#promo-alt .promo3 {
    width: 34.8%;
    float: left;
    background-color: #2e373f;
    height: 51%;
    position: relative;
    border-left: 1px dashed #5f5e5e;
    border-bottom: 1px dashed #5f5e5e;
}

#promo-alt .promo3 img {
    display: block;
    height: 150px;
    float: left;
    margin-right: 20px;
}

#promo-alt .promo3 a:visited, #promo-alt .promo3 a:link {
    text-decoration: none;
    color: #5daad0;


}

#promo-alt .promo3 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;
    color: #fff;
}

#promo-alt .promo3 a img {
    display: inline;
    height: auto;
    float: none;
    margin: auto;
}


/* ==========================================================================
       categories-menu
       ========================================================================== */

.categories-menu {
    display: block;
    width: 20%;
    float: left;
}

#main-content .categories-menu h3 {
    color: #c3c3c3;
}

.categories-menu ul {
    list-style-image: url('../img/right-arrow.gif');
}

.categories-menu a:visited, .categories-menu a:link {
    text-decoration: none;
    color: #2e373f;
}

/* ==========================================================================
       listings
       ========================================================================== */


#listings {
    display: block;
    width: 75%;
    padding: 2%;
    margin-top: -20px;
    margin-bottom: -20px;
    float: left;
    border-left: 1px dotted #5f5e5e;
}


/* ==========================================================================
       MAIN-CONTENT
       ========================================================================== */

#main-content {
    padding: 20px 50px;
}

#main-content h2, #main-content h3 {
    color: #2e373f;
    margin-bottom: 20px;
}


#main-content h3 {
    margin-bottom: 5px;
}

#main-content h3 a:link, #main-content h3 a:visited {
    color: #2e373f;
    text-decoration: none;
}

#main-content h5 {
    color: #5f5e5e;
    margin-bottom: 20px;
}

#main-content p {
    margin-bottom: 25px;
}

#main-content hr {
    margin-bottom: 20px;
}

/*---------------products----------------*/

#products {
    text-align: center;
}

.product {
    text-align: left;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 70px;
    width: 200px;
    vertical-align: top;
}

.product .instock {
    color: #9dbb6f;
}

.product .outofstock {
    color: red;
}

.product img.feature {
    margin-bottom: 40px;
}

.product .wish a:link, .product .wish a:visited {
    text-decoration: none;
    color: #5daad0;
    font-size: 14px;
}

.product .wish img {
    padding-right: 10px;
    position: relative;
    top: -2px;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

footer h4 {
    color: #c3c3c3;
    margin-bottom: 15px;
}

/*----------------- contact -----------------------*/

footer #contact {
    height: 167px;
    background-color: #faf9f9;
    text-align: center;
}

footer #contact h3 {
    color: #2e373f;
    padding-top: 50px;
}

footer #contact a:link, #contact a:visited {
    text-decoration: none;
    color: #5daad0;
}

footer #links {
    text-align: center;
}

footer #links a:link, footer #links a:visited {
    text-decoration: none;
    color: #2e373f;
}

footer #links ul{
    margin-left: 13px;
    list-style-image: url("../img/right-arrow.gif");
    list-style-position: inside;
}

footer #my-account, footer #info, footer #extras {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

#my-account, #info {
    margin-right: 130px;
}


/*---------------------- copyright connect payments ---------------------------*/

footer #copyright, footer #connect, footer #payments {
    margin-top: 40px;
    float: left;
}

footer #connect, footer #payments {
    margin-left: 40px;
}

/*------------------- copyright ------------------------------*/


footer #copyright, footer #connect {
    margin-right: 130px;

}

footer #copyright {
    padding: 20px 30px;

}

footer #copyright #store-desc{
    color: #5f5e5e;
    margin-bottom: 10px;
}

footer #copyright #store-copy{
    color: #c3c3c3;
}

footer #copyright #logo {
    font-size: 20px;
    margin-bottom: 20px;
}

footer #copyright #logo a span {
    color: #2e373f;
}

footer #copyright #logo a:link, footer #copyright #logo a:visited {
    text-decoration: none;
    color: #5daad0;
}


/*------------------- connect ------------------------------*/

footer #connect a:link, footer #connect a:visited {
    text-decoration: none;
    color: #5daad0;
}

footer #connect ul {
    margin-left: 30px;
}

footer #connect ul li.twitter {
    list-style-image: url("../img/twitter.gif");
}

footer #connect ul li.fb {
    list-style-image: url("../img/fb.gif");
}







    /* ==========================================================================
       BUTTON
       ========================================================================== */

.default-btn {
    background-color: #5daad0;
    color: #fff;
    padding: 15px 35px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 5px 0 #467f9c;
    text-decoration: none;
}

/*------------- ie-7 --------------*/

.lt-ie8 .default-btn {
    display: inline-block;
}

.cart-btn {
    padding: 10px;
    padding-left: 0px;
    background-color: #5daad0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 5px #467f9c;
    width: 100px;
}

/*--------------- IE 8-----------------*/

.lt-ie8 .cart-btn {
    display: inline-block;
    padding-bottom: 5px;
}

.cart-btn .price {
    background-color: #2e373f;
    padding: 10px;
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    box-shadow: 0 5px #22292f;
}

.cart-btn:link, .cart-btn:visited {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.cart-btn img {
    padding: 0 5px;
}













    /* ==========================================================================
       Helper classes
       ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
